body {
    margin: 0;
}

#main-content {
    display: flex;
    flex-direction: row;
}

.logo {
    max-width: 500px;
}

#area-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    justify-content: space-between;
}

.area-card {
    background-color: #F0EBCE;
    border-radius: 15px;
    flex-basis: 30%;
    margin: 0 1em 3em 1em;
    padding: 1em;
    max-width: 25%;
}

.guest-list {
    flex-basis: 25%;
}

.guest-item {
    border: 1px solid #4E6C50;
    padding-top: 2px;
    padding-bottom: 2px;
}
